.hlx/*
coverage/*
logs/*
node_modules/*

helix-importer-ui
.DS_Store
*.bak
.idea
localhost.pem
localhost-key.pem

# Ignore PNGs except in images, icons, and blocks directories
*.png
!images/**/*.png
!icons/**/*.png
!blocks/**/*.png
